@model IEnumerable<ActorMovie>

@{
    ViewData["Title"] = "Index";
}
@section Scripts {
    @if (TempData["Error"] != null)
    {
        <script>
            toastr.error('@TempData["Error"]');
        </script>
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ActorName
            </th>
            <th>
                MovieName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Actor.FirstName) @Html.DisplayFor(modelItem => item.Actor.LastName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
                <td>

                    <a asp-controller="ActorMovies" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="ActorMovies" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
        </tr>
}
    </tbody>
</table>
