@using ETickets.Utility
@model IEnumerable<Movie>

@if (ViewBag.SuccessMessage != null)
{
    <script>
        toastr.success("@ViewBag.SuccessMessage");
    </script>
}

<div class="container">
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="row g-0 h-100">
                        <div class="col-4 h-100">
                            <img src="~/movies/@movie.ImgUrl" class="img-fluid rounded-start h-100" style="object-fit: cover;" alt="@movie.Name">
                        </div>
                        <div class="col-8">
                            <div class="card-body h-100 d-flex flex-column">
                                <h5 class="card-title" style="color:darkgreen">@movie.Name</h5>
                                <p>Price: @movie.Price</p>
                                <p>Cinema: <a href="/Cinema/MoreDetails?id=@movie.Cinema.Id" style="color:red">@movie.Cinema.Name</a></p>
                                <p>Start Date: @movie.StartDate</p>
                                <p>End Date: @movie.EndDate</p>
                                <p>Category: <a href="/Category/AllCategory?id=@movie.Category.Id" style="color:red">@movie.Category.Name</a></p>
                               
                                <p>
                                    <a asp-controller="Home" asp-action="MoreDetails" asp-route-id="@movie.Id" class="btn btn-outline-primary">More Details</a>
                                    @if (!User.IsInRole(SD.adminRole))
                                    {
                                        @if (movie.MovieStatus == MovieStatus.Available && movie.quantity != 0)
                                        {
                                            <a asp-controller="Home" asp-action="BookTicket" asp-route-id="@movie.Id" class="btn btn-success">Book Ticket</a>
                                        }
                                        else if (movie.MovieStatus == MovieStatus.Upcoming && movie.quantity != 0)
                                        {
                                            <a asp-controller="Home" asp-action="BookTicket" asp-route-id="@movie.Id" class="btn btn-success">Book Ticket</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-dark" disabled>Book Ticket</a>
                                        }
                                    }
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if ((bool)ViewBag.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(ViewBag.PageNumber - 1)">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        }

        @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
        {
            if (i == (int)ViewBag.PageNumber)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
        }

        @if ((bool)ViewBag.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(ViewBag.PageNumber + 1)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        }
    </ul>
</nav>
</div>