@model IEnumerable<Movie>
<div class="row">
    <div class="col-12 mb-3">
        <a asp-controller="Cinema" asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Back..</a>
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="row g-0 h-100">
                        <div class="col-4 h-100">
                            <img src="~/movies/@movie.ImgUrl" class="img-fluid rounded-start h-100" style="object-fit: cover;" alt="@movie.Name"> <!-- Full height image with object-fit -->
                        </div>
                        <div class="col-8">
                            <div class="card-body h-100 d-flex flex-column">
                                <h5 class="card-title" style="color:darkgreen">@movie.Name</h5>
                                <p>Price :@movie.Price</p>
                                <p>Cinema:<a asp-controller="Cinema" asp-action="MoreDetails" asp-route-id="@movie.Cinema.Id" style="color:red"> @movie.Cinema.Name</a></p>
                                <p>Start Date: @movie.StartDate</p>
                                <p>End Date: @movie.EndDate</p>
                                <p>Category: <a asp-controller="Category" asp-action="AllCategory" asp-route-id="@movie.Category.Id" style="color:red">@movie.Category.Name</a></p>
                                @if (movie.MovieStatus == MovieStatus.Available)
                                {
                                    <span class="badge bg-info" style="max-width: 80px;">@movie.MovieStatus</span>
                                }
                                else if (movie.MovieStatus == MovieStatus.Upcoming)
                                {
                                    <span class="badge bg-dark" style="max-width: 80px;">@movie.MovieStatus</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger" style="max-width: 80px;">@movie.MovieStatus</span>
                                }
                                <br />
                                <p>
                                    <a href="/Home/MoreDetails?id=@movie.Id" type="button" class="btn btn-outline-primary">More Details</a>
                                    <button type="button" class="btn btn-success">Book Ticket</button>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
